<body>
  <nav class="site-header navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.url}}">
        <img src="{{ site.url}}/assets/images/looking-glass-icon.svg" width="30" height="30"
          class="d-inline-block align-top" alt="{{ site.description }}">
        {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for navItem in site.navbarLinks limit: 7 %}
          <li class="nav-item">
            <a class="nav-link" href="{{ navItem.link }}">{{ navItem.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  </br>
  <div class="container">
    <div class="row">

      <div class="col-lg-auto">
        <div class="card card-body upRowCards">
          <a href="{{ site.company.url }}" class="company-logo align-self-center">
            {% if site.company.logo  and site.company.logo != nil and site.company.logo != "" %}
            <img class="company-logo" alt="{{ site.company.name }}" src="{{ site.company.logo }}"></img>
            {% else %}
            <div class="card-body align-self-center textCenter">
              <h1>{{ site.company.name }}</h1>
            </div>
            {% endif %}
          </a>
        </div>
      </div>
      <div class="col">
        <!-- <div class="d-block d-sm-block d-md-none " style="margin-top: 10px;"></div> -->
        <div class="card my-auto d-none d-lg-block" style="height:100%;">
          <div class="card-body align-self-center textCenter" id="pageDescr">
            {% if page.description  and page.description != nil and page.description != "" %}
            {{page.description}}
            {% else %}
            {{site.description}}
            {% endif %}
          </div>
          <div class="card-body align-self-center svDescr" style="display: none;">
            <div class="table-responsive">
              <table class="table table-borderless" id="svInfoTable">
                <thead class="table-dark">
                  <tr>
                    <th>Loc.</th>
                    <td class="serverLocation"></td>
                    <th>Descr.</th>
                    <td class="serverDescription"></td>
                  </tr>
                  <tr>
                </thead>
                <tbody>
                  <th scope="row">IPv4</th>
                  <td class="serverIPV4Address"></td>
                  <th scope="row">IPv6</th>
                  <td class="serverIPV6Address"></td>
                  </tr>
                  <tr>
                    <th scope="row">ASN</th>
                    <td class="serverASN"></td>
                    <th scope="row">Services</th>
                    <td class="serverServices"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </br>