<footer class="footer-sc site-header fixed-bottom footer mt-auto py-2">

      <div class="row">
        <div class="col">
          <a style="color: aliceblue;" class="align-self-center" href="https://lg.ahmetozer.org">	&nbsp; 	&nbsp; &copy; Looking Glass 2017-{{ 'now' | date: "%Y" }}</a>
        </div>
        <div class="col ">
          <button href="/my.html" type="button" class="btn btn-outline-danger btn-sm" aria-pressed="true" data-toggle="modal" data-target="#serverSelectModal"  data-placement="left" title="Select a Server" id="serverSelectButton">Please Select Server</button>
        </div>
        <div class="col d-none d-sm-block">
          <button onclick="window.location.href='/my.html'" class="btn btn-light btn-sm" data-toggle="tooltip"  data-placement="right" title="Your IP" id="ip">1:see:bad:c0de</button>
        </div>
        <div class="col d-none d-md-block">
        <a href="https://github.com/ahmetozer/looking-glass" class="" >This is Version 3 and currently in development process.</a>
        </div>
      </div>
</footer> 
  {%- include scripts-footer.html -%}
</html>