<!--import Regex scheme's -->
<script>
  {% include javascript/Regex.js %}
</script>
<!--import Modal Required scripts -->
<script>
  {% include javascript/server-select-modal.js %}
</script>

<script async>
  var funcType,IPversion
  $(document).ready(function(){

  $("#funcType").change(function(){
    funcType = $(this).children("option:selected").val()
    $(this).find("option:selected").each(function(){
      var hasIPVersion = $(this).attr("hasIPVersion")
      if(hasIPVersion == "yes"){
        $("#reqType").show();
      } else{
        $("#reqType").val("");
        $("#reqType").hide();
        IPversion=""
      }
    });
  }).change();


  $("#reqType").change(function(){
    IPversion = $(this).children("option:selected").val()
    if(IPversion == "") {
      $('#hostname').attr('pattern', domainRegex+"|"+ipv4Regex+"|"+ipv6Regex)
    } else if (IPversion == "4") {
      $('#hostname').attr('pattern', domainRegex+"|"+ipv4Regex)
    } else {
      $('#hostname').attr('pattern', domainRegex+"|"+ipv6Regex)
    }
  }).change();

  $('#hostname').attr('pattern', domainRegex+"|"+ipv4Regex+"|"+ipv6Regex)
  })

    $("#funcFrame").on( "load",function(){
      $("#lodingCircle").hide()
     });

     function lgRun() {
      $("#lodingCircle").show();
       hostname = $("#hostname").val();
       $("#funcCard").show()
       $('#funcFrame').attr('src', $("#"+Cookies.get('SelectedServerID')).data("svurl")+"?type="+funcType+IPversion+"&host="+hostname)
       ///looking-glass-controller
     }
     $(function () {
  //$('[data-toggle="tooltip"]').tooltip()
})

</script>

