<!--import Regex scheme's -->
<script src="assets/js/looking-glass.js"></script>

<script async>
  var funcType, IPVersion
  $(document).ready(function () {

    $("#funcType").change(function () {
      funcType = $(this).children("option:selected").val()
      $(this).find("option:selected").each(function () {
        var hasIPVersion = $(this).attr("hasIPVersion")
        if (hasIPVersion == "yes") {
          $("#reqType").show();
        } else {
          $("#reqType").val("Default");
          $("#reqType").hide();
          IPVersion = ""
        }
      });
    }).change();


    $("#reqType").change(function () {
      IPVersion = $(this).children("option:selected").val()
      if (IPVersion == "Default") {
        $('#hostname').attr('pattern', '("(' + domainRegex + ")|(" + ipv4Regex + ")|(" + ipv6Regex + ')")')
      } else if (IPVersion == "IPv4") {
        $('#hostname').attr('pattern', domainRegex + "|" + ipv4Regex)
      } else {
        $('#hostname').attr('pattern', domainRegex + "|" + ipv6Regex)
      }
    }).change();

    $('#hostname').attr('pattern', domainRegex + "|" + ipv4Regex + "|" + ipv6Regex)
  })

  $("#funcFrame").on("load", function () {
    $("#loadingCircle").hide()

    var iframe = $("#funcFrame");
    if (iframe.innerHTML()) {
      // get and check the Title (and H tags if you want)
      var ifTitle = iframe.contentDocument.title;
      if (ifTitle.indexOf("Ok") >= 0) {
        // we have a winner! probably a 404 page!
      }
    } else {
      // didn't load
    }
  });

  function lgRun() {
    var svURL = $("#" + Cookies.get('SelectedServerID')).data("svurl");
    if (svURL && svURL != "") {
      $("#loadingCircle").show();
      $("#funcCard").show()
      $('#funcFrame').attr('src', svURL + "/looking-glass-controller" + "?" + $("#lg_run_form").serialize())
      // $("#funcCard").show()
      //$('#funcFrame').attr('src', svURL+"?"+$("#lg_run_form").serialize())
      ///looking-glass-controller
    } else {
      $('#serverSelectModal').modal('toggle')
    }
  }
  $(function () {
    //$('[data-toggle="tooltip"]').tooltip()
  })

</script>

<!-- To enable bootstrap tooltip -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>