<!-- Modal -->
<div class="modal fade" id="serverSelectModal" tabindex="-1" role="dialog" aria-labelledby="serverSelectLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serverSelectLabel">Select Server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <style>
            
            .server-list-group > .list-group > .list-group-item {
                padding-left: 30px;
            }
            
             .server-list-group > .list-group > .list-group > .list-group-item {
                padding-left: 40px;
            }
            
            .server-list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 50px;
            } 
            .server-list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 60px;
            } 
            .server-list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 70px;
            } 

            .server-list-group-item .fas {
                margin-right: 5px;
            }</style>
             
            <div class="server-list-group">

                <div class="list-group list-group-root well" id="serverList">

                </div>
                  
                </div>
              <!-- Modal Body End -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script>
        function svbuttonTrigger() {$(function() {

$('.server-list-group-item').on('click', function() {
    $('.collapse').not($(this).parents('')).collapse('hide');

    //$(this).not($(this).parents('')).find('.fa-arrow-alt-circle-down').addClass('fa-arrow-alt-circle-right').removeClass('fa-arrow-alt-circle-down');
    //$(this).parents('.server-list-group').toggleClass('fa-arrow-alt-circle-down')
    

    $('.fa-arrow-alt-circle-down').addClass('fa-arrow-alt-circle-right').removeClass('fa-arrow-alt-circle-down');
    
    $('.fas', this)
    .toggleClass('fa-arrow-alt-circle-right')
    .toggleClass('fa-arrow-alt-circle-down');
    
});
});
$(function() {
  $('.lgserver').on('click', function() {
      console.log("oldu")
    $('.lgserver').removeClass('list-group-item-info')
    $(this)
    .toggleClass('list-group-item-info')
    .toggleClass('');
});
});
}
  </script>
  <script>
    function lgListLoad(data,depth) {
      var curIndex=1
      // Check maximum Depth
      if ( depth > 5) {
        console.log("You are reach maximum depth of server list. Please keep list depth at maximum 5.")
        return
      }
       for (index in data) {
         // Start at no index and recursive increase list count.
         if(typeof depth == "undefined") {
          curDepth = ""
          target = "#serverList"
         } else {
           curDepth= depth +"-"
           target= "#itemLgSv"+depth
         }
         hrefId = curDepth+ curIndex;
         if ( typeof data[index]["Servers"] == "object" ) {// Look is a list or Server, If its list it returns object if not return undefined.
            // Do for list items, First create list item after run recursive
            //console.log(data[index],target)
            // $( target ).append
            $( target ).append(`<a href="#itemLgSv`+hrefId+`" class="server-list-group-item list-group-item list-group-item-action" data-toggle="collapse">
    <i class="fas fa-arrow-alt-circle-right"></i>`+data[index]["Name"]+`
  </a>
  <div class="list-group collapse" id="itemLgSv`+hrefId+`"> ` );
           // Recursive Call
           lgListLoad(data[index]["Servers"], hrefId)
           $( target ).append(`</div>`);
              } else {
            // Do for server items
            $( target ).append(`<a href="#" class="server-list-group-item list-group-item list-group-item-action lgserver"><i class="fas fa-server"></i>`+data[index]["Name"]+`</a>` );
            //console.log(index, data[index], hrefId, target)
          }
          // Current index location in for, increase every item in loop
          curIndex = curIndex+1
       }
    }
    $.getJSON( "/server.json", function( data ) {
    lgListLoad(data["Servers"]);
    svbuttonTrigger() 
  });  
</script>