<!-- Modal -->
<div class="modal fade" id="serverSelectModal" tabindex="-1" role="dialog" aria-labelledby="serverSelectLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serverSelectLabel">Server Selection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <style>
            
            .server-list-group > .list-group > .list-group-item {
                padding-left: 30px;
            }
            
             .server-list-group > .list-group > .list-group > .list-group-item {
                padding-left: 40px;
            }
            
            .server-list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 50px;
            } 
            .server-list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 60px;
            } 
            .server-list-group > .list-group > .list-group > .list-group > .list-group > .list-group > .list-group-item {
                padding-left: 70px;
            } 

            .server-list-group-item .fas {
                margin-right: 5px;
            }
            </style>
             
            <div class="server-list-group">

                <div class="list-group list-group-root well" id="serverList">

                </div>
                  
            </div>
              <!-- Modal Body End -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light">Clear</button>
            <button type="button" class="btn btn-outline-info" onclick="showAllListToggle()" id="showAllLgList">Show All</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      showAllListStat = "no";
      
      // Show All Servers On List in Modal
      function showAllListToggle() {
          if (showAllListStat == "no") {
            $('#serverList').find('.collapse').collapse('show')
            showAllListStat = "yes"
            $("#showAllLgList")
            .html("Hide all")
            .removeClass('btn-outline-info')
            .addClass('btn-outline-warning');
          } else {
              var itemId = Cookies.get('SelectedServerID')
              if (itemId != null && itemId != "") {
                $('.collapse').not($('#'+itemId).parents()).collapse('hide')
                $('#'+itemId).parents().collapse('show')
              } else {
                $('#serverList').find('.collapse').collapse('hide')
              }
              showAllListStat = "no"
              $("#showAllLgList")
              .html("Show all")
              .addClass('btn-outline-info')
              .removeClass('btn-outline-warning');
          }
      }

      // Clear Server Selection
      function clearServerSelection() {
        Cookies.set('SelectedServerID', null)
        
      }

      // Apply Server Config to Front End
function svApplyConfig(config) {
    var isEnabled
    for (confIndex in config) {
    
    if ( typeof config[confIndex] == "object"){
        isEnabled = svApplyConfig(config[confIndex])
        } else {
            if (isEnabled) {
                if(config[confIndex] == "enabled") {
                    isEnabled = "enabled"
                }
            } else {
                isEnabled = config[confIndex]
            }
            console.log(confIndex,config[confIndex])
        }
    }
    // after for
    if (config[confIndex] == "enabled") {
        $("#lgOption"+confIndex).prop('disabled', false);
    } else {
        $("#lgOption"+confIndex).prop('disabled', true);
    }

    return isEnabled
}

//
function svButtonLoadSave(itemId) {
    if (itemId != null && itemId != "") {
        $('.collapse').not($('#'+itemId).parents()).collapse('hide')
        $('#'+itemId).parents().collapse('show')
        $('#'+itemId).addClass('list-group-item-info')
        
        $("#serverSelectButton").html($('#'+itemId).data( "svname" ));
        $('#serverSelectButton').addClass('btn-outline-light').removeClass('btn-outline-danger');
        svApplyConfig($('#'+itemId).data( "svconf" ))
        
    }
}

// When the server clicked , Run these. "svButtonTrigger()"
function svButtonTrigger() {
    $(function() {
        $('.server-list-group-item').on('click', function() {
            $('.collapse').not($(this).parents('')).collapse('hide');
            $('.fa-arrow-alt-circle-down').addClass('fa-arrow-alt-circle-right').removeClass('fa-arrow-alt-circle-down');
            $('.fas', this)
                .toggleClass('fa-arrow-alt-circle-right')
                .toggleClass('fa-arrow-alt-circle-down');
        });
    });
    $(function() {
        $('.lgserver').on('click', function() {
            $('.lgserver').removeClass('list-group-item-info')
            Cookies.set('SelectedServerID', $(this).attr('id'))
            $("#serverSelectButton").html($(this).data( "svname" ));
            svApplyConfig($(this).data( "svconf" ))
            $('#serverSelectButton').addClass('btn-outline-light').removeClass('btn-outline-danger');
            $(this)
                .toggleClass('list-group-item-info')
                .toggleClass('');
        });
        });
}
// END of the "svButtonTrigger()"

// Compare Nested Configs with Recursive , "svConfigComparisor"
function svConfigComparisor(oldConfig,newConfig) {
    var tempConfig = oldConfig
    for (confIndex in oldConfig) {
        //console.log("index = "+index)
        if ( typeof oldConfig[confIndex] == "object" && typeof newConfig[confIndex] == "object"){
            tempConfig[confIndex] = svConfigComparisor(oldConfig[confIndex],newConfig[confIndex])
        } else {
            if (newConfig[confIndex]) {
                tempConfig[confIndex] = newConfig[confIndex]
            } else {
                tempConfig[confIndex] = oldConfig[confIndex]
            }
        }
    }
    return tempConfig
}
// End of the "svConfigComparisor"

// Load Looking Glass Server List
function lgServerListLoad(data,Config,depth,curIn) {
      if (curIn) {
          var curIndex = curIn;
      } else {
          var curIndex = 1;
      }
      // Check maximum Depth
      var depth
      if ( depth > 5) {
        console.log("You are reach maximum depth of server list. Please keep list depth at maximum 5." + depth)
        return
      }
       for (index in data) {
        // console.log("Old config for "+index,Config)
        // var curConfig
         if (data[index]["Config"]) {
             var curConfig = svConfigComparisor(Config,data[index]["Config"])
         } else {
             var curConfig = Config
         }

         // Start at no index and recursive increase list count.
         if(depth == "") {
          var curDepth = ""
          var target = "#serverList"
         } else {
           var curDepth= depth +"-"
           var target= "#itemLgSv"+depth
         }
         var hrefId = curDepth+ curIndex;

         // If name not exist, get Json Object name
         if (typeof data[index]["Name"] == "undefined" && data[index]["Name"] != "" ) {
            var lgSvName = index;
         } else {
            var lgSvName = data[index]["Name"];
         }

         // Control If Server Description Exist
         if (typeof data[index]["Description"] == "undefined") {
            var lgsvDescription = "";
         } else {
            var lgsvDescription = data[index]["Description"];
         }

         if ( data[index]["JsonURL"]  ) {
           //lgServerListLoadAjax(data[index]["JsonURL"],depth,curIndex);
           console.log("Currently Recursive Json List is not Supported")
         } else if ( typeof data[index]["Servers"] == "object" ) {// Look is a list or Server, If its list it returns object if not return undefined.
            // Do for list items, First create list item after run recursive
            $( target ).append(`<a href="#itemLgSv`+hrefId+`" class="server-list-group-item list-group-item list-group-item-action" data-toggle="collapse"><i class="fas fa-arrow-alt-circle-right"></i>`+lgSvName+`<small class="text-muted float-right">`+lgsvDescription+`</small></a><div class="list-group collapse" id="itemLgSv`+hrefId+`"> ` );
            // Recursive Call
            lgServerListLoad(data[index]["Servers"],curConfig, hrefId)
            $( target ).append(`</div>`);
        } else if( data[index]["Url"] ) {
            // Do for server items
            $( target ).append(`<a href="#" class="server-list-group-item list-group-item list-group-item-action lgserver" data-svurl='`+data[index]["Url"]+`' data-svName='`+lgSvName+`' data-svconf='`+JSON.stringify(curConfig)+`' id="itemLgSv`+hrefId+`"><i class="fas fa-server"></i>`+lgSvName+`<small class="text-muted float-right">`+lgsvDescription+`</small></a>` );
        } else {
              console.log("Error: "+depth+" "+index+" is unknown type of server.")
          }
          // Current index location in for, increase every item in loop
          curIndex = curIndex+1
       } // for loop end
    }
// End of the "lgServerListLoad"

// Get server list with ajax
  function lgServerListLoadAjax(URL,curIndex) {
 $.ajax({
 url: URL,
 dataType: 'json',
 success: function( data ) {
    lgServerListLoad(data["Servers"],data["Config"],"",curIndex);
    svButtonTrigger();
    svButtonLoadSave(Cookies.get('SelectedServerID'))
 },
 error: function( data ) {
     if ( data["status"] == 200) {
        console.log( 'ERROR: ', "Json Parse Error" );
     } else {
        console.log( 'ERROR: ', data );
     }
   
 }
});
}
lgServerListLoadAjax("server.json",0);
</script>